<%= render 'books/list', books: @books %>

<h2>Users</h2>
  <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>image</th>
            <th>name</th>
          </tr>
        </thead>
      
      <tbody>
      <% @Users.each do |user| %>
        <tr>
          <td>
            <%= image_tag @user.get_profile_image(80,80) %>
          </td>
          <td>
          <%= link_to user.name, book_path(book.id) %>
          </td>
          <td>
          <span>
            <%= link_to "Show", user_path(book.id) %>
          </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>